@{
    Layout = "~/Views/Shared/_LayoutDasboard.cshtml";
    ViewData["Title"] = "Aprenda, compartilhe e conecte-se";
    ViewData["page_name"] = "library";
}

<section id="library">
    <div class="library-content max-w-[1125px]">
        <div class="biblioteca-header">
            <h1 class="header-title">Biblioteca</h1>

            <div class="header-actions">
                <button class="action-button icon-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                </button>
                <button class="action-button filter-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                    </svg>
                    <span>Filtrar</span>
                </button>
                <button class="action-button add-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                    <span>Adicionar novo artigo</span>
                </button>
            </div>
        </div>
    </div>
    <div class="library-cards max-w-[1125px]">
        <div class="library-card">
            <img src="~/img/library/card.jpg" alt="">
            <h2>Guia Prático de Jardinagem - Por Edilson Giacon</h2>
            <div class="library-card-responsavel">
                <img src="~/img/users/default.png" alt="">
                <div>
                    <p class="library-card-responsavel-nome">Enviado por Guilherme Leão</p>
                    <p class="library-card-responsavel-data">Em 12 de julho de 2025</p>
                </div>
            </div>
            <a download="Nome do livre" href="#" class="library-card-btn">Ler artigo</a>
        </div>
        <div class="library-card">
            <img src="~/img/library/card.jpg" alt="">
            <h2>Guia Prático de Jardinagem - Por Edilson Giacon</h2>
            <div class="library-card-responsavel">
                <img src="~/img/users/default.png" alt="">
                <div>
                    <p class="library-card-responsavel-nome">Enviado por Guilherme Leão</p>
                    <p class="library-card-responsavel-data">Em 12 de julho de 2025</p>
                </div>
            </div>
            <a download="Nome do livre" href="#" class="library-card-btn">Ler artigo</a>
        </div>
        <div class="library-card">
            <img src="~/img/library/card.jpg" alt="">
            <h2>Guia Prático de Jardinagem - Por Edilson Giacon</h2>
            <div class="library-card-responsavel">
                <img src="~/img/users/default.png" alt="">
                <div>
                    <p class="library-card-responsavel-nome">Enviado por Guilherme Leão</p>
                    <p class="library-card-responsavel-data">Em 12 de julho de 2025</p>
                </div>
            </div>
            <a download="Nome do livre" href="#" class="library-card-btn">Ler artigo</a>
        </div>
        <div class="library-card">
            <img src="~/img/library/card.jpg" alt="">
            <h2>Guia Prático de Jardinagem - Por Edilson Giacon</h2>
            <div class="library-card-responsavel">
                <img src="~/img/users/default.png" alt="">
                <div>
                    <p class="library-card-responsavel-nome">Enviado por Guilherme Leão</p>
                    <p class="library-card-responsavel-data">Em 12 de julho de 2025</p>
                </div>
            </div>
            <a download="Nome do livre" href="#" class="library-card-btn">Ler artigo</a>
        </div>
        <div class="library-card">
            <img src="~/img/library/card.jpg" alt="">
            <h2>Guia Prático de Jardinagem - Por Edilson Giacon</h2>
            <div class="library-card-responsavel">
                <img src="~/img/users/default.png" alt="">
                <div>
                    <p class="library-card-responsavel-nome">Enviado por Guilherme Leão</p>
                    <p class="library-card-responsavel-data">Em 12 de julho de 2025</p>
                </div>
            </div>
            <a download="Nome do livre" href="#" class="library-card-btn">Ler artigo</a>
        </div>
        <div class="library-card">
            <img src="~/img/library/card.jpg" alt="">
            <h2>Guia Prático de Jardinagem - Por Edilson Giacon</h2>
            <div class="library-card-responsavel">
                <img src="~/img/users/default.png" alt="">
                <div>
                    <p class="library-card-responsavel-nome">Enviado por Guilherme Leão</p>
                    <p class="library-card-responsavel-data">Em 12 de julho de 2025</p>
                </div>
            </div>
            <a download="Nome do livre" href="#" class="library-card-btn">Ler artigo</a>
        </div>
    </div>
</section>