@{
    ViewData["Title"] = "Central de Ajuda";
}
<main class="help-center">
    <h1>Central de Ajuda</h1>

    <section class="faq-section">
        <h2>Perguntas Frequentes</h2>
        <ul>
            <li>
                <p class="faq-titulo">Como cadastrar uma planta?</p>
                <p class="faq-descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus officia
                    laborum facere ea recusandae obcaecati autem soluta beatae cum porro! At quidem nulla quod pariatur
                    sequi, laboriosam quam commodi aperiam.</p>
            </li>

            <li>
                <p class="faq-titulo">Como configurar lembretes?</p>
                <p class="faq-descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus officia
                    laborum facere ea recusandae obcaecati autem soluta beatae cum porro! At quidem nulla quod pariatur
                    sequi, laboriosam quam commodi aperiam.</p>
            </li>
            <li>
                <p class="faq-titulo">Como recuperar minha senha?</p>
                <p class="faq-descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus officia
                    laborum facere ea recusandae obcaecati autem soluta beatae cum porro! At quidem nulla quod pariatur
                    sequi, laboriosam quam commodi aperiam.</p>
            </li>
            <li>
                <p class="faq-titulo">Como enviar fotos no feed?</p>
                <p class="faq-descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus officia
                    laborum facere ea recusandae obcaecati autem soluta beatae cum porro! At quidem nulla quod pariatur
                    sequi, laboriosam quam commodi aperiam.</p>
            </li>
            <li>
                <p class="faq-titulo">Como funciona o sistema de seguidores?</p>
                <p class="faq-descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus officia
                    laborum facere ea recusandae obcaecati autem soluta beatae cum porro! At quidem nulla quod pariatur
                    sequi, laboriosam quam commodi aperiam.</p>
            </li>
        </ul>
    </section>

    <section class="guides-section" style="display: none;">
        <h2>Guias e Tutoriais</h2>
        <ul>
            <li><a href="#">Gerenciando minhas plantas</a></li>
            <li><a href="#">Usando o fórum</a></li>
            <li><a href="#">Compartilhando no feed</a></li>
        </ul>
    </section>
