@{
    ViewData["Title"] = "Aprenda, compartilhe e conecte-se";
}

<section id="hero">
    <div class="hero-content max-w-[1125px]">
        <div class="hero-text">
            <p class="hero-subtitulo">
                APRENDA, COMPARTILHE E <span>CONECTE-SE</span>
            </p>
            <h1>
                Organize seu <span>jardim</span> e faça parte de uma comunidade <span>apaixonada</span> por plantas.
            </h1>
            <p class="hero-paragrafo">
                Crie sua conta no <span>Plant Care Hub</span> agora mesmo e tenha plantas mais saudáveis e um jardim
                <span>sempre vivo!</span>
            </p>
            <a href="#" class="hero-btn">COMECE GRÁTIS AGORA</a>
            <p class="hero-paragrafo-2">Suas plantas mais saudáveis e vibrantes!</p>
            <a href="#" class="hero-link_confira">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path
                        d="M7 11.2637L11 15.2637M11 15.2637L15 11.2637M11 15.2637V7.26373M21 11.2637C21 16.7866 16.5228 21.2637 11 21.2637C5.47715 21.2637 1 16.7866 1 11.2637C1 5.74089 5.47715 1.26373 11 1.26373C16.5228 1.26373 21 5.74089 21 11.2637Z"
                        stroke="#EFCF3B" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span>
                    Confira mais sobre PlantCareHub
                </span>
            </a>
        </div>
        <div class="hero-img"></div>
    </div>
</section>
<section id="comunidade">
    <div class="comunidade-content max-w-[1125px]">
        <div class="comunidade-img"></div>
        <div class="comunidade-texto">
            <p class="comunidade-subtitulo">Aprendizado e Comunidade</p>
            <h2>Jardinagem descomplicada para todos! 🌿📚</h2>
            <p class="comunidade-paragrafo">Acesse uma biblioteca completa com artigos, guias e tutoriais para aprimorar
                seu conhecimento.</p>
            <ul>
                <li class="comunidade-li-1">
                    Tire dúvidas no nosso fórum e aprenda com especialistas
                </li>
                <li class="comunidade-li-2">Descubra cuidados ideais para cada tipo de planta</li>
                <li class="comunidade-li-3">Compartilhe sua jornada no feed e inspire outros jardineiros</li>
            </ul>
            <a href="#" class="comunidade-btn">CONHECER COMUNIDADE</a>

        </div>
    </div>

</section>
<section id="solucao">
    <div class="solucao-content max-w-[1125px]">
        <div class="solucao-texto">
            <p class="solucao-subtitulo">Problema e Solução</p>
            <h2>Cuidar de plantas nunca foi <span>tão fácil!</span></h2>
            <p class="solucao-paragrafo">Sabemos que acompanhar as necessidades de cada planta pode ser desafiador.
                Esquecer de regar, adubar ou podar pode comprometer a saúde das suas verdinhas.</p>
            <p class="solucao-paragrafo">Com o <span>Plant Care Hub</span>, você tem:</p>
            <ul>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="37" height="38" viewBox="0 0 37 38" fill="none">
                        <circle cx="18.4066" cy="18.7802" r="18.4066" fill="#05A833" fill-opacity="0.8" />
                        <circle cx="18.4066" cy="18.7802" r="17.6566" stroke="#05A833" stroke-opacity="0.1"
                            stroke-width="1.5" />
                        <path d="M15.4722 21.7146L20.8075 16.3794M20.8075 16.3794H15.4722M20.8075 16.3794V21.7146"
                            stroke="white" stroke-width="1.06705" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span>
                        Lembretes personalizados para rega, adubação e poda
                    </span>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="37" height="38" viewBox="0 0 37 38" fill="none">
                        <circle cx="18.4066" cy="18.7802" r="18.4066" fill="#05A833" fill-opacity="0.8" />
                        <circle cx="18.4066" cy="18.7802" r="17.6566" stroke="#05A833" stroke-opacity="0.1"
                            stroke-width="1.5" />
                        <path d="M15.4722 21.7146L20.8075 16.3794M20.8075 16.3794H15.4722M20.8075 16.3794V21.7146"
                            stroke="white" stroke-width="1.06705" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span>
                        Registro e histórico de cuidados das suas plantas
                    </span>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="37" height="38" viewBox="0 0 37 38" fill="none">
                        <circle cx="18.4066" cy="18.7802" r="18.4066" fill="#05A833" fill-opacity="0.8" />
                        <circle cx="18.4066" cy="18.7802" r="17.6566" stroke="#05A833" stroke-opacity="0.1"
                            stroke-width="1.5" />
                        <path d="M15.4722 21.7146L20.8075 16.3794M20.8075 16.3794H15.4722M20.8075 16.3794V21.7146"
                            stroke="white" stroke-width="1.06705" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span>
                        Dicas automáticas baseadas nas condições climáticas </span>
                </li>
            </ul>
            <a href="#" class="solucao-btn">CUIDAR DAS MINHAS PLANTAS</a>

        </div>
        <div class="solucao-img">
            <img src="/img/solucao_flor.png" alt="Flor">
        </div>
    </div>
</section>
<section id="funcionalidades">
    <div class="funcionalidades-content max-w-[1125px]">
        <div class="funcionalidades-texto">
            <h2>Funcionalidades da Plataforma</h2>
            <p class="funcionalidades-paragrafo">Tudo o que você precisa para cuidar das suas plantas!</p>
            <ul>
                <li class="funcionalidade-li-1">
                    <p class="funcionalidade-li-titulo">Cadastro detalhado de plantas</p>
                    <p class="funcionalidade-li-descricao">informações personalizadas para cada espécie</p>
                </li>
                <li class="funcionalidade-li-2">
                    <p class="funcionalidade-li-titulo">Dashboard interativo</p>
                    <p class="funcionalidade-li-descricao">acompanhe a evolução do seu jardim</p>
                </li>
                <li class="funcionalidade-li-3">
                    <p class="funcionalidade-li-titulo">Grupos temáticos</p>
                    <p class="funcionalidade-li-descricao">conecte-se com outros amantes da jardinagem</p>
                </li>
                <li class="funcionalidade-li-4">
                    <p class="funcionalidade-li-titulo">Sistema de mensagens</p>
                    <p class="funcionalidade-li-descricao">troque dicas e experiências diretamente com outros usuários
                    </p>
                </li>
            </ul>
            <a href="#" class="funcionalidade-btn">CONHECER FUNCIONALIDADES DA PLATAFORMA</a>
        </div>
        <div class="funcionalidades-img">
            <img src="/img/funcionalidades.png" alt="Flor">
        </div>
    </div>
</section>
<section id="aviso">
    <h2>Pronto para revolucionar sua jardinagem? 🌱🚀</h2>
    <p>Crie sua conta no Plant Care Hub agora mesmo e tenha plantas mais saudáveis e um jardim sempre vivo!</p>
    <a href="#" class="aviso-btn">CADASTRE-SE <span>GRATUITAMENTE</span></a>

</section>