@charset "UTF-8";
#feed .feed-content {
  display: grid;
  grid-template-columns: 245px auto 245px;
  gap: 20px; /* espaço opcional entre as colunas */
  align-items: start; /* alinha ao topo, sem forçar altura igual */
  width: 100%; /* ocupa 100% do elemento pai */
  padding: 40px 20px;
}
#feed .feed-content .feed-laterais {
  border-radius: 16px;
  border: 1px solid #f2f2f2;
  padding: 16px 14px;
}
#feed .feed-content .feed-laterais h2 {
  color: var(--color--gray-900);
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}
#feed .feed-content .feed-laterais ul {
  margin: 0;
  padding: 0;
}
#feed .feed-content .feed-laterais .feed-lateral-follow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 1rem;
}
#feed .feed-content .feed-laterais .feed-lateral-follow p {
  margin-bottom: 0;
}
#feed .feed-content .feed-laterais .feed-lateral-follow .feed-lateral-follow-client {
  display: flex;
  align-items: center;
  gap: 10px;
}
#feed .feed-content .feed-laterais .feed-lateral-follow .feed-lateral-follow-nome {
  color: var(--color--gray-950);
  font-size: 15px;
  font-weight: 500;
}
#feed .feed-content .feed-laterais .feed-lateral-follow .feed-lateral-follow-funcao {
  color: var(--color--gray-950);
  font-size: 11px;
  font-weight: 300;
}
#feed .feed-content .feed-laterais .feed-lateral-follow img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
#feed .feed-content .feed-laterais .feed-lateral-follow .feed-lateral-follow-btn {
  border-radius: 4px;
  background: var(--color--green-light);
  width: 34px;
  height: 29px;
  display: flex;
  color: var(--color--white);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity linear 0.3s;
}
#feed .feed-content .feed-laterais .feed-lateral-follow .feed-lateral-follow-btn:hover {
  opacity: 0.8;
}
#feed .feed-content .feed-laterais .feed-lateral-hashtags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 0.6rem;
}
#feed .feed-content .feed-laterais .feed-lateral-hashtags p {
  margin-bottom: 0;
}
#feed .feed-content .feed-laterais .feed-lateral-hashtags .feed-lateral-hashtags-content {
  width: 100%;
  transition: opacity linear 0.2s;
}
#feed .feed-content .feed-laterais .feed-lateral-hashtags .feed-lateral-hashtags-content:hover {
  opacity: 0.7;
}
#feed .feed-content .feed-laterais .feed-lateral-hashtags .feed-lateral-hashtags-nome {
  color: var(--color--gray-950);
  font-size: 18px;
  font-weight: 500;
}
#feed .feed-content .feed-laterais .feed-lateral-hashtags .feed-lateral-hashtags-funcao {
  color: var(--color--gray-950);
  font-size: 11px;
  font-weight: 300;
}
@media screen and (min-width: 650px) and (max-width: 950px) {
  #feed .feed-content .feed-laterais {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  #feed .feed-content {
    grid-template-columns: auto;
  }
  #feed .feed-content .feed-central {
    order: 3;
  }
}
#feed .feed-content .feed-form {
  border-radius: 16px;
  border: 1px solid #f2f2f2;
  margin-bottom: 2.5em;
}
#feed .feed-content .feed-form .feed-form-textarea {
  padding: 16px 20px;
  display: flex;
  gap: 10px;
}
#feed .feed-content .feed-form .feed-form-textarea textarea {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: none;
  outline: none;
  resize: vertical; /* permite aumentar altura manualmente */
  min-height: 40px; /* altura mínima */
}
#feed .feed-content .feed-form .feed-form-textarea textarea:focus {
  min-height: 80px;
}
#feed .feed-content .feed-form .feed-form-actions {
  padding: 2px 20px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
#feed .feed-content .feed-form .feed-form-actions button[type=submit] {
  border-radius: 4px;
  background: #05a833;
  padding: 6px 24px;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.225px;
}
#feed .feed-content .feed-form .feed-form-actions .feed-form-actions-upload {
  display: flex;
  gap: 20px;
}
#feed .feed-content .feed-form .feed-form-actions .feed-form-actions-upload label {
  cursor: pointer;
  transition: opacity linear 0.2s;
}
@media screen and (max-width: 450px) {
  #feed .feed-content .feed-form .feed-form-actions .feed-form-actions-upload label span {
    display: none;
  }
}
#feed .feed-content .feed-form .feed-form-actions .feed-form-actions-upload label:hover {
  opacity: 0.7;
}
#feed .feed-content .feed-posts {
  border-radius: 16px;
  border: 1px solid #f2f2f2;
  padding: 16px 14px;
  margin-bottom: 1.5em;
}
#feed .feed-content .feed-posts .feed-posts-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 1rem;
}
#feed .feed-content .feed-posts .feed-posts-header p {
  margin-bottom: 0;
}
#feed .feed-content .feed-posts .feed-posts-header .feed-posts-header-client {
  display: flex;
  align-items: center;
  gap: 10px;
}
#feed .feed-content .feed-posts .feed-posts-header .feed-posts-header-nome {
  color: var(--color--gray-950);
  font-size: 16px;
  font-weight: 500;
}
#feed .feed-content .feed-posts .feed-posts-header .feed-posts-header-funcao {
  color: var(--color--gray-950);
  font-size: 11px;
  font-weight: 300;
}
#feed .feed-content .feed-posts .feed-posts-header img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
#feed .feed-content .feed-posts .feed-posts-header .feed-posts-actions {
  position: relative;
}
#feed .feed-content .feed-posts .feed-posts-header .feed-posts-actions svg {
  cursor: pointer;
}
#feed .feed-content .feed-posts .feed-posts-header .feed-posts-actions-content {
  position: absolute;
  top: 20px;
  right: 0;
  visibility: hidden;
  min-width: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 14px 9px 2px rgb(243, 243, 243);
  border: 1px solid var(--color--black-50);
  padding: 20px;
}
#feed .feed-content .feed-posts .feed-posts-header .feed-posts-actions-content ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}
#feed .feed-content .feed-posts .feed-posts-header .feed-posts-actions-content ul li {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  width: 100%;
}
#feed .feed-content .feed-posts .feed-posts-header .feed-posts-actions:hover .feed-posts-actions-content {
  visibility: visible;
}
#feed .feed-content .feed-posts .feed-posts-footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
#feed .feed-content .feed-posts .feed-posts-footer .feed-posts-footer-icons {
  display: flex;
  gap: 30px;
}
#feed .feed-content .feed-posts .feed-posts-footer .feed-footer-icon {
  position: relative;
  cursor: pointer;
}
#feed .feed-content .feed-posts .feed-posts-footer .feed-footer-icon-balao {
  position: absolute;
  min-width: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  min-height: 18px;
  top: -10px;
  padding: 2px 6px;
  left: 20px;
  border-radius: 25px;
  border: 2px solid #ffffff;
  background: var(--color--green-light);
  color: #ffffff;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
}
#feed .feed-content .feed-posts .feed-posts-footer .feed-posts-footer-share {
  cursor: pointer;
}/*# sourceMappingURL=feed.css.map */